.view-mode-container {
    width: 900px;

    > .state-log-entry {
        position: relative;
        font-size: 18px;
        padding: 20px 0;
        width: 100%;

        > .state-log-entry-date {
            color: pink;
        }

        & h1 {
            margin: 10px 0;
        }

        &:after {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: #fff;
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
