<div class="edit-mode-container">
    <form [formGroup]="formSchemaForm" class="edit-mode-form" (ngSubmit)="onSubmit()"
        (keydown.enter)="$event.preventDefault()">
        <div class="edit-mode-form-body" formArrayName="fields">
            <div *ngFor="let field of fields.controls; let i = index" class="field-section-container"
                [ngClass]="fieldsRange.max === fields.length ? 'max-fields-reached' : ''">
                <div class="field-header">
                    <h1 [ngClass]="isFieldInvalid(i) ? 'invalid-field' : ''">{{getFieldName(i)}}</h1>
                    <div class="remove-field-header-icon" (click)="removeField($event, i)"
                        [ngClass]="isRemoveDisabled ? 'disabled' : ''">
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
                <div class="field-body">
                    <field-input [formControlName]="i" [submitted]="submitted"></field-input>
                </div>
            </div>
            <h1 *ngIf="fieldsRange.max > fields.length" class="add-field-button" (click)="addField()">
                <mat-icon>add</mat-icon><span>Add Field</span>
            </h1>
        </div>
        <div class="edit-mode-form-footer">
            <div *ngIf="showLoader" class="loader-container">
                <spinning-loader></spinning-loader>
            </div>
            <button mat-button type="submit" class="save-button" [disabled]="showLoader">
                <div class="save-button-content">Save<mat-icon>done</mat-icon>
                </div>
            </button>
        </div>
    </form>
</div>